{
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json",
        "sourceType": "module"
    },
    "extends": [
        "plugin:unicorn/recommended",
        "airbnb-base",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "plugins": [
        "@typescript-eslint",
        "@typescript-eslint/tslint"
    ],
    "rules": {
        "@typescript-eslint/no-use-before-define": 0,
        "no-param-reassign": 0,
        "no-bitwise": 0,
        "import/prefer-default-export": 0,
        "no-void": 0,
        "no-underscore-dangle": 0,
        "no-case-declarations": 0,
        "@typescript-eslint/interface-name-prefix": 0,
        "@typescript-eslint/camelcase": 0,
        "camelcase": 0,
        "import/no-unresolved": 0,
        "unicorn/prevent-abbreviations": 0,
        "@typescript-eslint/no-explicit-any": "error",
        "@typescript-eslint/promise-function-async": "error",
        "unicorn/filename-case": 0,
        "eqeqeq": [
            "error",
            "always"
        ],
        "id-blacklist": "error",
        "id-match": "error",
        "import/order": "error",
        "max-len": "error",
        "no-console": "error",
        "no-unused-expressions": "error",
        "object-shorthand": "error",
        "@typescript-eslint/tslint/config": [
            "error",
            {
                "rules": {
                    "function-name": true,
                    "import-name": true,
                    "no-boolean-literal-compare": true,
                    "object-literal-sort-keys": true,
                    "object-shorthand-properties-first": true,
                    "prettier": true,
                    "ter-arrow-parens": true,
                    "typedef": true
                }
            }
        ]
    }
}