{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "extends": [
    "plugin:jsonc/auto-config",
    "plugin:jsonc/base",
    "plugin:jsonc/recommended-with-json",
    "plugin:jsonc/recommended-with-json5",
    "plugin:jsonc/recommended-with-jsonc",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/babel",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard",
    "prettier/unicorn",
    "prettier/vue"
  ],
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-tsdoc",
    "fp",
    "functional",
    "import",
    "jsdoc",
    "prettier",
    "promise",
    "radar",
    "security",
    "simple-import-sort",
    "sort-keys-fix",
    "unicorn"
  ],
  "rules": {
    "tsdoc/syntax": "error",
    "prefer-const": "warn",
    /*
  ―― START ――――――― eslint-config-prettier ――――――――――――――――――――――――――――――――――――――
    */
    // +++ eslint-config-prettier +++
    "prettier/prettier": "warn",
    "arrow-body-style": "off",
    "no-confusing-arrow": "off",
    "prefer-arrow-callback": "off",
    "curly": [
      "warn",
      "all"
    ],
    // "comma-dangle": [
    //   "warn",
    //   "only-multiline"
    // ],
    "lines-around-comment": "off",
    "max-len": "off",
    "no-mixed-operators": "off",
    "no-tabs": "off",
    "no-unexpected-multiline": "off",
    // "quotes": [
    //   "warn",
    //   "single",
    //   {
    //     "avoidEscape": true,
    //     "allowTemplateLiterals": false
    //   }
    // ],
    // +++ eslint-config-prettier +++
    "unicorn/no-nested-ternary": "off",
    "unicorn/number-literal-case": "off",
    "@typescript-eslint/quotes": 0,
    // +++ eslint-config-prettier +++
    "@typescript-eslint/brace-style": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/comma-spacing": "off",
    "@typescript-eslint/func-call-spacing": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/keyword-spacing": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/no-extra-parens": "off",
    "@typescript-eslint/no-extra-semi": "off",
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/space-before-function-paren": "off",
    "@typescript-eslint/space-infix-ops": "off",
    "@typescript-eslint/type-annotation-spacing": "off",
    // +++ eslint-config-prettier +++
    /*
  ―― END ―――――― eslint-config-prettier ―――――――――――――――――――――――――――――――――――――――――
    */
    "unicorn/better-regex": "warn",
    "unicorn/catch-error-name": "warn",
    "unicorn/consistent-function-scoping": "off",
    "unicorn/custom-error-definition": "warn",
    "unicorn/error-message": "error",
    "unicorn/escape-case": "warn",
    "unicorn/expiring-todo-comments": "error",
    "unicorn/explicit-length-check": "warn",
    "unicorn/filename-case": "off",
    "unicorn/import-index": "warn",
    "unicorn/import-style": "off",
    "unicorn/new-for-builtins": "warn",
    "unicorn/no-abusive-eslint-disable": "off",
    "unicorn/no-array-instanceof": "warn",
    "unicorn/no-console-spaces": "warn",
    "unicorn/no-fn-reference-in-iterator": "off",
    "unicorn/no-for-loop": "warn",
    "unicorn/no-hex-escape": "warn",
    "unicorn/no-keyword-prefix": "off",
    "unicorn/no-new-buffer": "warn",
    "unicorn/no-null": "off",
    "unicorn/no-object-as-default-parameter": "off",
    "unicorn/no-process-exit": "error",
    "unicorn/no-reduce": "off",
    "unicorn/no-unreadable-array-destructuring": "error",
    "unicorn/no-unsafe-regex": "error",
    "unicorn/no-unused-properties": "error",
    "unicorn/no-useless-undefined": "warn",
    "unicorn/no-zero-fractions": "warn",
    "unicorn/numeric-separators-style": "warn",
    "unicorn/prefer-add-event-listener": "warn",
    "unicorn/prefer-array-find": "warn",
    "unicorn/prefer-dataset": "warn",
    "unicorn/prefer-event-key": "warn",
    "unicorn/prefer-flat-map": "warn",
    "unicorn/prefer-includes": "warn",
    "unicorn/prefer-math-trunc": "warn",
    "unicorn/prefer-modern-dom-apis": "warn",
    "unicorn/prefer-negative-index": "warn",
    "unicorn/prefer-node-append": "warn",
    "unicorn/prefer-node-remove": "warn",
    "unicorn/prefer-number-properties": "warn",
    "unicorn/prefer-optional-catch-binding": "warn",
    "unicorn/prefer-query-selector": "warn",
    "unicorn/prefer-reflect-apply": "warn",
    "unicorn/prefer-replace-all": "warn",
    "unicorn/prefer-set-has": "warn",
    "unicorn/prefer-spread": "warn",
    "unicorn/prefer-starts-ends-with": "warn",
    "unicorn/prefer-string-slice": "warn",
    "unicorn/prefer-ternary": "warn",
    "unicorn/prefer-text-content": "warn",
    "unicorn/prefer-trim-start-end": "warn",
    "unicorn/prefer-type-error": "warn",
    "unicorn/prevent-abbreviations": [
      "off",
      {
        "whitelist": {
          "_db": true
        }
      }
    ],
    // "unicorn/regex-shorthand": "warn",
    "unicorn/string-content": "warn",
    "unicorn/throw-new-error": "warn",
    "promise/always-return": "error",
    "promise/no-return-wrap": "error",
    "promise/param-names": "warn",
    "promise/catch-or-return": "error",
    "promise/no-native": "off",
    "promise/no-nesting": "error",
    "promise/no-promise-in-callback": "error",
    "promise/no-callback-in-promise": "error",
    "promise/avoid-new": "error",
    "promise/no-new-statics": "warn",
    "promise/no-return-in-finally": "error",
    "promise/valid-params": "error",
    /*
      ―――――――― simple-import-fp ――――――――――――――――――――――――――――――――――――――――――――――――――
    */
    "fp/no-arguments": "error",
    "fp/no-class": "off",
    "fp/no-delete": "error",
    "fp/no-events": "error",
    "fp/no-get-set": "off",
    "fp/no-let": "off",
    "fp/no-loops": "off",
    "fp/no-mutating-assign": "error",
    "fp/no-mutating-methods": "off",
    "fp/no-mutation": "off",
    "fp/no-nil": "off",
    "fp/no-proxy": "off",
    "fp/no-rest-parameters": "off",
    "fp/no-this": "off",
    "fp/no-throw": "off",
    "fp/no-unused-expression": "off",
    "fp/no-valueof-field": "error",
    "no-var": "error",
    /*
      ―――――――― simple-import-functional ――――――――――――――――――――――――――――――――――――――――――――――――――
    */
    /*  No Mutations Rules */
    "functional/immutable-data": 0, // "error",
    "functional/no-let": 0, // "warn",
    "functional/no-method-signature": 0, // "error",
    "functional/prefer-readonly-type": 0, // "warn",
    /*  No Object-Orientation Rules */
    "functional/no-class": 0, // "error",
    "functional/no-mixed-type": 0, // "error",
    "functional/no-this-expression": 0, // "error",
    "functional/prefer-type-literal": 0, // "warn",
    /*  No Statements Rules */
    "functional/no-conditional-statement": 0, // "error",
    "functional/no-expression-statement": 0, // "error",
    "functional/no-loop-statement": 0, // "error",
    "functional/no-return-void": 0, // "error",
    /*  No Exceptions Rules */
    "functional/no-promise-reject": 0, // "error",
    "functional/no-throw-statement": 0, // "error",
    "functional/no-try-statement": 0, // "error",
    /*  Currying Rules */
    "functional/functional-parameters": 0, // "error",
    /*  Stylitic Rules */
    "functional/prefer-tacit": 0, // "warn",
    /*
  ―――――――― simple-import-sort-keys-fix ――――――――――――――――――――――――――――――――――――――――――――――――――
    */
    "sort-keys-fix/sort-keys-fix": "warn",
    /*
  ―――――――― simple-import-sort ――――――――――――――――――――――――――――――――――――――――――――――――――
    */
    "sort-imports": "off",
    "import/order": "off",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    /*
  ―――――――― eslint-plugin-import ――――――――――――――――――――――――――――――――――――――――――――――――
    */
    /*Static analysis*/
    "import/no-self-import": "error",
    "import/no-useless-path-segments": "warn",
    "import/no-unresolved": "off", // "error",
    "import/named": "error",
    "import/default": "error",
    "import/namespace": "error",
    "import/no-restricted-paths": "error",
    "import/no-absolute-path": "error",
    "import/no-dynamic-require": "error",
    "import/no-internal-modules": "error",
    "import/no-webpack-loader-syntax": "error",
    "import/no-cycle": "error",
    "import/no-relative-parent-imports": "error",
    /* Helpful warnings */
    "import/export": "error",
    "import/no-named-as-default": "error",
    "import/no-named-as-default-member": "error",
    "import/no-deprecated": "error",
    "import/no-extraneous-dependencies": "error",
    "import/no-mutable-exports": "error",
    "import/no-unused-modules": "error",
    /*Style guide*/
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn",
    "import/no-namespace": "warn",
    // "import/order":  "error", // ―3 managed with simple-import-sort
    "import/exports-last": "off",
    "import/extensions": "error",
    "import/prefer-default-export": "off",
    "import/max-dependencies": "off",
    "import/no-unassigned-import": "error",
    "import/no-named-default": "error",
    "import/no-default-export": "off",
    "import/no-named-export": "off",
    "import/no-anonymous-default-export": "error",
    "import/group-exports": "off",
    "import/dynamic-import-chunkname": "error",
    /*Module systems*/
    "import/no-amd": "error",
    "import/no-commonjs": "error",
    "import/no-nodejs-modules": "off",
    "import/unambiguous": "error",
    /*
  ―――――――― eslint-plugin-jsdoc ―――――――――――――――――――――――――――――――――――――――――――――――――
    */
    "jsdoc/check-access": 0, // "error", // Recommended
    "jsdoc/check-alignment": 0, // "warn", // Recommended
    "jsdoc/check-examples": "off",
    "jsdoc/check-indentation": "off",
    "jsdoc/check-line-alignment": 0, // "warn",
    "jsdoc/check-param-names": 0, // "warn", // Recommended
    "jsdoc/check-property-names": 0, // "warn", // Recommended
    "jsdoc/check-syntax": "off",
    "jsdoc/check-tag-names": 0, // "warn", // Recommended
    "jsdoc/check-types": 0, // "warn", // Recommended
    "jsdoc/check-values": 0, // "error", // Recommended
    "jsdoc/empty-tags": 0, // "warn", // Recommended
    "jsdoc/implements-on-classes": 0, // "error", // Recommended
    "jsdoc/match-description": "off",
    "jsdoc/newline-after-description": 0, // "warn", // Recommended
    "jsdoc/no-bad-blocks": 0, // "warn",
    "jsdoc/no-defaults": 0, // "warn",
    "jsdoc/no-types": 0, // "warn",
    "jsdoc/no-undefined-types": 0, // "error", // Recommended
    "jsdoc/require-description": "off",
    "jsdoc/require-description-complete-sentence": 0, // "warn",
    "jsdoc/require-example": 0, // "warn",
    "jsdoc/require-file-overview": "off",
    "jsdoc/require-hyphen-before-param-description": 0, // "warn",
    "jsdoc/require-jsdoc": 0, // "warn", // Recommended
    "jsdoc/require-param": 0, // "warn", // Recommended
    "jsdoc/require-param-description": 0, // "error", // Recommended
    "jsdoc/require-param-name": 0, // "error", // Recommended
    "jsdoc/require-param-type": 0, // "error", // Recommended
    "jsdoc/require-property": 0, // "warn", // Recommended
    "jsdoc/require-property-description": 0, // "error", // Recommended
    "jsdoc/require-property-name": 0, // "error", // Recommended
    "jsdoc/require-property-type": 0, // "error", // Recommended
    "jsdoc/require-returns": 0, // "error", // Recommended
    "jsdoc/require-returns-check": 0, // "error", // Recommended
    "jsdoc/require-returns-description": 0, // "error", // Recommended
    "jsdoc/require-returns-type": 0, // "error", // Recommended
    "jsdoc/valid-types": 0, // "error" // Recommended
    /*
  ―――――――― eslint-plugin-security ―――――――――――――――――――――――――――――――――――――――――――――――――
    */
    "security/detect-unsafe-regex": "error",
    "security/detect-buffer-noassert": "error",
    "security/detect-child-process": "error",
    "security/detect-disable-mustache-escape": "error",
    "security/detect-eval-with-expression": "error",
    "security/detect-no-csrf-before-method-override": "error",
    "security/detect-non-literal-fs-filename": "error",
    "security/detect-non-literal-regexp": "error",
    "security/detect-non-literal-require": "error",
    "security/detect-object-injection": "error",
    "security/detect-possible-timing-attacks": "error",
    "security/detect-pseudoRandomBytes": "error",
    /*
  ―――――――― eslint-plugin-radar ―――――――――――――――――――――――――――――――――――――――――――――――――
    */
    "radar/no-all-duplicated-branches": "error",
    "radar/no-element-overwrite": "error",
    "radar/no-extra-arguments": "error",
    "radar/no-identical-conditions": "error",
    "radar/no-identical-expressions": "error",
    "radar/no-one-iteration-loop": "error",
    "radar/no-use-of-empty-return-value": "error",
    "radar/cognitive-complexity": [
      "error",
      20
    ],
    "radar/max-switch-cases": "error",
    "radar/no-collapsible-if": "error",
    "radar/no-collection-size-mischeck": "error",
    "radar/no-duplicate-string": "error",
    "radar/no-duplicated-branches": "error",
    "radar/no-identical-functions": "error",
    "radar/no-inverted-boolean-check": "warn",
    "radar/no-redundant-boolean": "error",
    "radar/no-redundant-jump": "error",
    "radar/no-same-line-conditional": "error",
    "radar/no-small-switch": "error",
    "radar/no-unused-collection": "error",
    "radar/no-useless-catch": "error",
    "radar/prefer-immediate-return": "warn",
    "radar/prefer-object-literal": "error",
    "radar/prefer-single-boolean-return": "error",
    "radar/prefer-while": "warn",
    // # Deprecated
    // These rules have been deprecated in accordance with the deprecation policy, and replaced by newer rules:
    // Deprecated rule
    "callback-return": "off", // (no replacement)
    "global-require": "off", // (no replacement)
    "handle-callback-err": "off", // (no replacement)
    "id-blacklist": "off", //
    "indent-legacy": "off", //
    "lines-around-directive": "off", //
    "newline-after-var": "off", //
    "newline-before-return": "off", //
    "no-buffer-constructor": "off", // (no replacement)
    "no-catch-shadow": "off", //
    "no-mixed-requires": "off", // (no replacement)
    "no-native-reassign": "off", //
    "no-negated-in-lhs": "off", //
    "no-new-require": "off", // (no replacement)
    "no-path-concat": "off", // (no replacement)
    "no-process-env": "off", // (no replacement)
    "no-process-exit": "off", // (no replacement)
    "no-restricted-modules": "off", // (no replacement)
    "no-spaced-func": "off", //
    "no-sync": "off", // (no replacement)
    "prefer-reflect": "off", // (no replacement)
    "require-jsdoc": "off", // (no replacement)
    "valid-jsdoc": "off", // (no replacement),
    // Replaced by
    "id-denylist": "off",
    // "indent": [
    //   "warn",2,{"MemberExpression":1}, { "offsetTernaryExpressions": true }], // , {"ignoredNodes": ["ConditionalExpression"] }
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": "*"
      },
      {
        "blankLine": "never",
        "prev": [
          "singleline-const",
          "multiline-const",
          "const"
          // "singleline-let",
          // "singleline-var"
        ],
        "next": [
          "singleline-const",
          "multiline-const",
          "const"
          // "singleline-let",
          // "singleline-var"
        ]
      },
      // {
      //   "blankLine": "any",
      //   "prev": [
      //     "const",
      //     "let",
      //     "var"
      //   ],
      //   "next": [
      //     "const",
      //     "let",
      //     "var",
      //     "expression"
      //   ]
      // },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      }
      // {
      //   "blankLine": "always",
      //   // "prev": STATEMENT_TYPE,
      //   "next": [
      //     "function"
      //   ]
      // }
    ],
    "no-shadow": "error",
    "no-unsafe-negation": "error",
    "func-call-spacing": "warn",
    "no-global-assign": "error"
  },
  "overrides": [
    {
      // enable the rule specifically for json files
      "files": [
        "*.json",
        "*.jsonc"
      ],
      "rules": {
        "semi": 0
      }
    }
  ]
}
