{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "parser": "typescript",
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 200,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "rangeStart": 0,
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "trailingComma": "all",
        "parser": "json"
      }
    }
  ]
}
