# @format

os: linux

language: node_js

node_js:
  - lts/carbon
  - lts/dubnium
  - lts/*
  - node

dist: trusty

cache:
  directories:
    - '$HOME/.node_packages'

group: stable

branches:
# blocklist
  except:
  - /.*/
# safelist
  only:
  - master
  - next/version

install:
  - npm i -g npm@latest
  - npm i -g typescript@latest @types/node@latest
  - npm i -g ts-jest@latest
  - npm i -g jest@latest @types/jest@latest
  - npm i -g tslint-config-airbnb@latest tslint-config-prettier@latest tslint-react@latest
  - npm i -g tslint@latest
  - npm i -g coveralls@latest
  - npm install

script:
  - yarn run build
  - ls -alg
  - echo "Running tests against $(node -v)..."

# jobs:
#   include:
#     - stage: Produce Coverage
#       node_js: node
#       script: jest --coverage && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage

'.result': configured
